[Unit]
Description=Dreamscreen daemon
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=300
StartLimitBurst=10

[Service]
User=kodi
Type=simple
ExecStart=/usr/local/bin/dreamscreend -h dreamscreen -p 8888 -d "Arduino LLC Arduino Leonardo"
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
